ul{
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  li{
    list-style: none;
    flex: 1;
  }
  a{
    padding: 0 10px;
    margin-bottom: -5px;
    border-bottom:0px ;
    transition: all 0.5s;
  }
  a:hover{
    color: #6bc30d;
    border-bottom: 1px solid #6bc30d;
  }
}

.center{
  .menu{
    display: none;
  }
}
//设置动态响应
@media only screen {
  @media (max-width:798px){
    .nav-bar{   
      justify-content: space-around;
      .center{
        z-index: 9999;
        text-align: left;
        padding-left: 20px;
        order: 1;
        flex: 1;
        .menu{
          display: block;
          line-height: 49px;
        }
        ul{
          visibility: hidden;
          height: 0;
          li{
            flex: 1;
          }
        }
      }
      .center:hover ul{
        visibility: visible;
        transition: height 1s;
        display: flex;
        flex-flow: column;
        background-color: rgba(224, 224, 224,.1);
        z-index: 9999;
        height: 300px;
        text-align: left;
      }
      .left{
        flex: 1;
        order: 2;
        display: block;
        margin: 0 auto;
      }
      .right{
        flex: 1;
        order: 3;
        padding-right: 20px;
        text-align: right;
      }
    }
  }
}